---
import logoMark from "../assets/images/logomark.png";
---
<header class="mx-auto p-2 border-b border-gray-100">
  <nav
    class="grid grid-cols-[1fr_auto_1fr] items-center max-w-275 mx-auto"
  >
    <!-- LEFT -->
    <ul class="flex justify-end items-center space-x-6 oswald-15px pr-8">
      <li><a href="#Menu" class="text-black hover:text-pink-hover">HOME</a></li>
      <li><a href="#Menu" class="text-pink-hover hover:text-pink-hover">PROFILE</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">NEWS</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">SCHEDULE</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">DISCOGRAPHY</a></li>
    </ul>

    <!-- LOGO -->
<a href="/" class="logo-wrapper">
  <div class="logo-card">
    <img src={logoMark.src} />
  </div>

  <div class="shine"></div>
</a>

    <!-- RIGHT -->
    <ul class="flex justify-start items-center space-x-6 oswald-15px pl-8">
      <li><a href="#Menu" class="text-black hover:text-pink-hover">SPECIAL</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">FANCLUB</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">MOBILE</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">W MEMBER</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">...</a>
      
      </li>
    </ul>
  </nav>


</header>
