---
import logoMark from "../assets/images/logomark.png";
---

<nav class="w-full top-0 left-0">
  <div class="flex flex-wrap items-center justify-between mx-auto p-4">

    <ul class="lg:flex items-center space-x-6 mx-auto oswald-15px">
      <li><a href="#precios" class="text-black underline hover:text-pink-hover">HOME</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">PROFILE</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">NEWS</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">SCHEDULE</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">DISCOGRAPHY</a></li>

<a href="/" class="logo-wrapper">
  <img
    src={logoMark.src}
    alt="TWICE OFFICIAL SITE"
    class="logomark"
  />

  <div class="shine"></div>
</a>



      <li><a href="#Menu" class="text-black hover:text-pink-hover">SPECIAL</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">FANCLUB</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">MOBILE</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">W MEMBER</a></li>
      <li><a href="#Menu" class="text-black hover:text-pink-hover">...</a></li>
    </ul>

  </div>
</nav>